p{
    margin: 0;
}
.headrow, .heading {
width: 33%;
border: 1px solid black;
padding: 2px;
}
.heading {
    text-align: center;
}
.row{
    display: flex;
}
.head {
    font-weight: bold;
    text-align: center;
}
