p{
    margin: 0;
}
.headrow, .heading {
width: 33%;
border: 1px solid black;
padding: 2px;
}
.heading {
    text-align: center;
}
.row{
    display: flex;
}
.head {
    font-weight: bold;
    text-align: center;
}
h3{
    padding-top: 10px;
    text-decoration: underline;
    color: blue;
}
.k-button {
    margin: 5px
}
.k-button:disabled, .k-button.k-disabled {
    background-color: #afa6a6;
}
.k-notification-container {
    margin: 6px;
}