
#prods .k-grid-header {
    background-color: rgb(240, 208, 121);
}
#prods .k-grid-container .k-grid-content{
    background-color: #fae1ed;
}

.k-grid-header {
    background-color: lightblue !important;
}
.k-grid-container .k-grid-content{
    background-color: #e8e2e5;
}
.avatar {
    padding: 8px 12px;
}
.avatarLink{
    text-decoration: underline !important;
    color: blue !important;
}